







.Log{
    background-color: rgb(122, 82, 114);
}
#form{
    background-color:rgb(239, 156, 222) ;
    text-align: center;
    font-size: large;
    height: 100vh;
    margin: auto;
    display:grid;
    align-items: center;
    justify-content: center;
}
.sss{
    background: #c8f2c3;
}
#m{
    width: 100%;
}
#myCarousel{
    width: 90%;
    height: 60%;
    margin: 0 auto;
}

.carousel-inner .item img{
    height: 200px;
    margin: 0 auto;
}
.carousel-caption{
    position: relative;
    left: auto;
    right: auto;
    height: 100px;
    color: black;
}
#abc{

    margin-bottom: auto;
    position: relative;
 
}

#bg{
    padding-top: 40px;
    background: linear-gradient(90deg, #90ff90, #e6ffe6);
    background-attachment: fixed;
    background-size: cover;
  
}

#content{
    opacity: 1;
}

#heading{
    margin-bottom: 10px;
}

#pro{
    font-size: xx-large;
}

@media (min-width:1501px){
    .carousel-inner .item img{
        height: 600px;
        margin: 0 auto;
    }
}
@media (max-width:1500px){
    .carousel-inner .item img{
        height: 400px;
        margin: 0 auto;
    }
}
@media (max-width:800px){
    .carousel-inner .item img{
        height: 200px;
        margin: 0 auto;
    }
}