.Log{
    background-color: rgb(122, 82, 114);
}
#form{
    background-color:rgb(239, 156, 222) ;
    text-align: center;
    font-size: large;
    height: 100vh;
    margin: auto;
    display:grid;
    align-items: center;
    justify-content: center;
}
.sss{
    background: #c8f2c3;
}
#m{
    width: 100%;
}
#myCarousel{
    width: 90%;
    height: 60%;
    margin: 0 auto;
}

.carousel-inner .item img{
    height: 500px;
    margin: 0 auto;
}
.carousel-caption{
    position: relative;
    left: auto;
    right: auto;
    height: 100px;
    color: black;
}
#abc{

    margin-bottom: auto;
    position: relative;
 
}

#bg{
    background: url("images_home/back.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
  
}

#content{
    opacity: 1;
}

#heading{
    margin-bottom: 10px;
}
#project{
    background-color: rgb(14, 158, 69);
}
#pro{
    font-size: xx-large;
}
